<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <!-- 引入本地 jQuery -->
    <script src="/js/jquery-3.6.0.min.js"></script>
</head>
<body>
<div id="table_m">
    <table>
        <thead>
        <th><input type="checkbox" name="" id=""> 全部</th>
        <th><a href="" class="glink" title="点击排序">代码</a></th>
        <th><span>名称</span></th>
        <th><span>股吧</span></th>
        <th><a href="" class="glink" title="点击排序">开盘价</a></th>
        <th><a href="" class="glink" title="点击排序">最新价</a></th>
        <th><a href="" class="glink" title="点击排序">最高价</a></th>
        <th><a href="" class="glink" title="点击排序">最低价</a></th>
        <th><a href="" class="glink" title="点击排序">涨跌幅</a></th>
        <th><a href="" class="glink" title="点击排序">涨跌额</a></th>
        <th><a href="" class="glink" title="点击排序">总手</a></th>
        <th><a href="" class="glink" title="点击排序">现手</a></th>
        <th><a href="" class="glink" title="点击排序">买入价</a></th>
        <th><a href="" class="glink" title="点击排序">卖出价</a></th>
        <th><a href="" class="glink" title="点击排序">昨收</a></th>
        <th><a href="" class="glink" title="点击排序">成交额</a></th>
        <th><a href="" class="glink" title="点击排序">换手率</a></th>
        <th><a href="" class="glink" title="点击排序">振幅</a></th>
        <th><a href="" class="glink" title="点击排序">量比</a></th>
        <th><a href="" class="glink" title="点击排序">涨速</a></th>
        <th><a href="" class="glink" title="点击排序">市盈率</a></th>
        <th><a href="" class="glink" title="点击排序">每股收益</a></th>
        <th><span>所属行业板块</span></th>
        <th><a href="" class="glink" title="点击排序">总市值</a></th>
        <th><a href="#" class="glink"><span class="icon icon_option"></span> 增加指标</a></th>
        <th></th>
        </thead>

        <tbody>
        <tr data-quotecode="0.000006" class="ui-draggable ui-draggable-handle ui-droppable">
            <td class="tdl"><label><input type="checkbox" class="indexselect_m"> 1</label></td>
            <td class="tdl "><a href="//aaa.com/unify/cr/0.000006?from=zixuan">000006</a></td>
            <td class="tdl "><a href="//aaa.com/unify/cr/0.000006?from=zixuan" title="萝卜">萝卜</a>
            </td>
            <td class="tdc "><span>贴吧</span></td>
            <td class=" "><span class="stockdown blinkgreen">9.25</span></td>
            <td class=" "><span class="stockdown blinkgreen">-1.39%</span></td>
            <td class=" "><span class="stockdown blinkgreen">-0.13</span></td>
            <td class=" "><span>18.73万</span></td>
            <td class=" "><span class="stockdown blinkgreen">1263</span></td>
            <td class=" "><span class="stockdown blinkgreen">9.25</span></td>
            <td class=" "><span class="stockdown blinkgreen">9.26</span></td>
            <td class=" "><span>9.38</span></td>
            <td class=" "><span>1.748亿</span></td>
            <td class=" "><span>1.39%</span></td>
            <td class=" "><span>2.13%</span></td>
            <td class=" "><span>0.86</span></td>
            <td class=" "><span>0.00%</span></td>
            <td class=" "><span>-1338.50</span></td>
            <td class=" "><span>-0.01</span></td>
            <td class=" "><span>房地产开发</span></td>
            <td></td>
            <td class="m_options"><span class="icon icon_stockmore" style="visibility: hidden;"></span></td>
        </tr>
        <tr data-quotecode="0.000004" class="ui-draggable ui-draggable-handle ui-droppable">
            <td class="tdl"><label><input type="checkbox" class="indexselect_m"> 2</label></td>
            <td class="tdl "><a href="//aaa.com/unify/cr/0.000004?from=zixuan">000004</a></td>
            <td class="tdl "><a href="//aaa.com/unify/cr/0.000004?from=zixuan" title="米老鼠">米老鼠</a>
            </td>
            <td class="tdc "><span>贴吧</span></td>
            <td class=" "><span class="stockdown blinkgreen">8.82</span></td>
            <td class=" "><span class="stockdown blinkgreen">-4.96%</span></td>
            <td class=" "><span class="stockdown blinkgreen">-0.46</span></td>
            <td class=" "><span>9198</span></td>
            <td class=" "><span class="stockup blinkred">94</span></td>
            <td class=" "><span class="ndatas">—</span></td>
            <td class=" "><span class="stockdown blinkgreen">8.82</span></td>
            <td class=" "><span>9.28</span></td>
            <td class=" "><span>811.3万</span></td>
            <td class=" "><span>0.73%</span></td>
            <td class=" "><span>0.00%</span></td>
            <td class=" "><span>2.87</span></td>
            <td class=" "><span>0.00%</span></td>
            <td class=" "><span>-32.32</span></td>
            <td class=" "><span>-0.20</span></td>
            <td class=" "><span>软件开发</span></td>
            <td></td>
            <td class="m_options"><span class="icon icon_stockmore" style="visibility: hidden;"></span></td>
        </tr>
        <tr data-quotecode="0.000002" class="ui-draggable ui-draggable-handle ui-droppable">
            <td class="tdl"><label><input type="checkbox" class="indexselect_m"> 3</label></td>
            <td class="tdl "><a href="//aaa.com/unify/cr/0.000002?from=zixuan">000002</a></td>
            <td class="tdl "><a href="//aaa.com/unify/cr/0.000002?from=zixuan" title="纸巾">纸巾</a>
            </td>
            <td class="tdc "><span>贴吧</span></td>
            <td class=" "><span class="stockdown blinkgreen">4.88</span></td>
            <td class=" "><span class="stockdown blinkgreen">-1.61%</span></td>
            <td class=" "><span class="stockdown blinkgreen">-0.08</span></td>
            <td class=" "><span>162.0万</span></td>
            <td class=" "><span class="stockdown blinkgreen">1.632万</span></td>
            <td class=" "><span class="stockdown blinkgreen">4.88</span></td>
            <td class=" "><span class="stockdown blinkgreen">4.89</span></td>
            <td class=" "><span>4.96</span></td>
            <td class=" "><span>7.936亿</span></td>
            <td class=" "><span>1.67%</span></td>
            <td class=" "><span>2.22%</span></td>
            <td class=" "><span>0.69</span></td>
            <td class=" "><span class="stockdown blinkgreen">-0.20%</span></td>
            <td class=" "><span>-1.56</span></td>
            <td class=" "><span>-2.35</span></td>
            <td class=" "><span>房地产开发</span></td>
            <td></td>
            <td class="m_options"><span class="icon icon_stockmore" style="visibility: hidden;"></span></td>
        </tr>
        <tr data-quotecode="0.000001" class="ui-draggable ui-draggable-handle ui-droppable">
            <td class="tdl"><label><input type="checkbox" class="indexselect_m"> 4</label></td>
            <td class="tdl "><a href="//aaa.com/unify/cr/0.000001?from=zixuan">000001</a></td>
            <td class="tdl "><a href="//aaa.com/unify/cr/0.000001?from=zixuan" title="真棒">真棒</a><span
                    class="icon icon_mine"></span></td>
            <td class="tdc "><span>贴吧</span></td>
            <td class=" "><span class="stockdown blinkgreen">11.06</span></td>
            <td class=" "><span class="stockdown blinkgreen">-0.09%</span></td>
            <td class=" "><span class="stockdown blinkgreen">-0.01</span></td>
            <td class=" "><span>60.04万</span></td>
            <td class=" "><span class="stockdown blinkgreen">1.092万</span></td>
            <td class=" "><span class="stockdown blinkgreen">11.06</span></td>
            <td class=" "><span>11.07</span></td>
            <td class=" "><span>11.07</span></td>
            <td class=" "><span>6.641亿</span></td>
            <td class=" "><span>0.31%</span></td>
            <td class=" "><span>0.72%</span></td>
            <td class=" "><span>0.75</span></td>
            <td class=" "><span>0.00%</span></td>
            <td class=" "><span>4.20</span></td>
            <td class=" "><span>1.98</span></td>
            <td class=" "><span>银行</span></td>
            <td></td>
            <td class="m_options"><span class="icon icon_stockmore" style="visibility: hidden;"></span></td>
        </tr>


        </tbody>


    </table>
</div>

<button id="alertBtn">点击我</button>


<script>
    $(document).ready(function () {
        // setInterval(() => {
        analyze()

        // }, 5000)

        function analyze() {
            var head = ""
            var heads = $("#table_t>table>thead>tr").children()
            for (const hd of heads) {
                var value = getChildValue(hd)
                head += value
                head += ","
            }

            var trs = $("#table_m>table>tbody").children()
            if (!trs || trs.length <= 0) {
                return
            }
            var records = []
            for (const tr of trs) {
                let record = ""
                var tds = $(tr).children()

                for (const td of tds) {
                    var value = getChildValue(td)
                    record += value
                    record += ","
                }
                // alert(record)
                records.push(record)
            }
            send(head, records)
        }

        function getChildValue(dom) {
            if ($(dom).children().length > 0) {
                return getChildValue($(dom).children().get(0))
            } else {
                return $(dom).text()
            }
        }

        function send(head, records) {
            $.ajax({
                type: "POST",
                url: "http://localhost:8099/stock/current/collect",
                dataType: 'json',
                data: {"head": head, "data": JSON.stringify(records)},
                headers: {
                    'Content-Type': 'application/json'
                },
                success: function (response) {
                    // draw(name, tradeDay, response);
                }
            });
        }
    })
</script>
</body>
</html>
